.pageContainer{
    padding: 20px;
}

.registroContainer{
}

.listContainer{
    width: 40%;
}
.lineContainer{
    display: flex;
    justify-content: space-between;
}

.detailCard{
    height: min-content;
    width: 40%;

    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}
.detailContainer{
    display: flex;
    gap: 10px;
}


.detailListLabel{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    color: gray;
}
.detailListLabel label{
    height: 50px;
}
.detailListValue{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.detailListValue span{
    height: 50px;
}


.subHeader{
    display: flex;
    justify-content: space-between;
}
h1{
    margin-left: 16px;
}



/* tipo */
.tipo{
    color: gray;
}

/* data */
.data{
    color: gray;
    font-style: italic;
    padding-right: 5px;
    font-size: small;
}

/* prezzo totale */
.prezzoTotale {
    font-weight: bold;
    font-size: 20px;
    padding-right: 5px;
}
.prezzoTotalePositivo {
    @extend .prezzoTotale;
    color: green;
}
.prezzoTotaleNegativo {
    @extend .prezzoTotale;
    color: red;
}



.noTransazioni{
    margin: 16px;
}