<app-toolbar [pages]="linkedPages" title="Cliente"></app-toolbar>

<div *ngIf="prodottiDisponibili.length > 0; else noProdotti" class="pageContainer">

    <div class="prodottiContainer">

        <mat-selection-list class="prodottiList" [multiple]="false">
            <h1>Prodotti disponibili</h1>
            <mat-list-option class="listItem" *ngFor="let prodotto of prodottiInPromozione" [selected]="prodottoSelezionato == prodotto" (click)="selezionaProdotto(prodotto)">
                <div mat-line>{{prodotto.nome}}</div>
                <div mat-line>
                    <label class="labelColor" for="prezzo">Prezzo: </label>
                    <span id="prezzo">{{prodotto.prezzo}}$</span>
                    <span class="spacer"></span>
                    <label class="labelColor" for="prezzo">Disponibili: </label>
                    <span id="prezzo">{{prodotto.quantita}}</span>
                </div>
                <i class="material-icons promotionStar">star</i>
            </mat-list-option>
            <mat-list-option class="listItem" *ngFor="let prodotto of prodottiDisponibili" [selected]="prodottoSelezionato == prodotto" (click)="selezionaProdotto(prodotto)">
                <div mat-line>{{prodotto.nome}}</div>
                <div mat-line>
                    <label class="labelColor" for="prezzo">Prezzo: </label>
                    <span id="prezzo">{{prodotto.prezzo}}$</span>
                    <span class="spacer"></span>
                    <label class="labelColor" for="prezzo">Disponibili: </label>
                    <span id="prezzo">{{prodotto.quantita}}</span>
                </div>
            </mat-list-option>
        </mat-selection-list>

        <mat-card *ngIf="prodottoSelezionato != null" class="prodottoInfo">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">search</i>
                <mat-card-title>{{prodottoSelezionato.nome}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{prodottoSelezionato.descrizione}}</p>
            </mat-card-content>
            <mat-card-actions>
                <div style="display: flex; align-items: center;">
                    <div style="width: 160px;"><button [disabled]="quantita<1 || quantita>prodottoSelezionato.quantita" (click)="aggiungiAlCarrello()" color="primary" mat-button>Aggiungi al carrello</button></div>
                    
                    <mat-form-field style="width: 50px;">
                        <input matInput type="number" [(ngModel)]="quantita">
                    </mat-form-field>
                </div>
                <button (click)="openInsertRecensioneDialog()" mat-button>COMMENTA</button>
            </mat-card-actions>
            <mat-divider></mat-divider>
            <br>
            <div *ngIf="recensioni.length > 0; else noRecensioni">
                <h3>Recensioni</h3>
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let recensione of recensioni">
                        <span mat-line>{{recensione.nome}} {{recensione.cognome}} - <span class="labelColor">{{utilityService.extractDateFromDateStr(recensione.dataPubblicazione)}}</span></span>
                        <span mat-line>
                            <mat-icon *ngFor="let star of stars" [ngClass]="{ 'selected': recensione.valutazione >= star }">star</mat-icon>
                        </span>
                        <span mat-line>{{recensione.commento}}</span>
                    </mat-list-item>
                </mat-list>
            </div>
            <ng-template #noRecensioni>
                <div>
                    <p>Questo prodotto non ha recensioni</p>
                </div>
            </ng-template>
        </mat-card>

    </div>

</div>

<ng-template #noProdotti>
    <div class="pageContainer">
        <p>Al momento non ci sono prodotti disponibili</p>
    </div>
</ng-template>