.pageContainer{
    padding: 100px;
    padding-top: 40px;
}

.prodottiContainer{
    display: flex;
    justify-content: space-around;
}

.prodottiList{
    max-width: 60%;
}

.prodottoInfo{
    height: min-content;
    width: 30%;
}

.listItem{
    user-select: none;
}

.promotionStar{
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
    background-color: black;
    border-radius: 50%;
    transform: scale(1.5);
}

.labelColor{
    color: gray;
}

.spacer{
    display: inline-block;
    width: 40px;
}



h3{
    margin-bottom: 8px;
}
mat-icon {
  font-size: 18px;
  cursor: pointer;
}
mat-icon.selected {
  color: gold;
}
