<div class="loginContainer">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <input  matInput placeholder="Username" formControlName="email" name="username">
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Password" formControlName="password" name="password">
        </mat-form-field>
        <br><br>
        <button [disabled]="loginForm.invalid" mat-raised-button color="primary" (click)="login()">Login</button>
      </form>
      
      <a (click)="goToSignin()">Registrati</a>
      <br><br>
      <p class="errorMessage">{{errorMessage}}</p>

    </mat-card-content>
  </mat-card>
</div>
